.booking {
    padding: 3rem 0;
    background-color: green;
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(20rem, 30rem)) 1fr; 
}
.booking .cont {
    grid-column: 2/4;
    height: 30rem;
    background-image: linear-gradient(100deg, rgba(255, 255, 255, 0.774) 55%, rgba(255, 255, 255, 0.062)55%), url(../img/nat-10.jpg);
    background-size: cover;
    background-position: center; 
    padding: 0 2rem;
    display: flex;
    justify-content: flex-start;
}
.booking .cont h2 {
    font-size: 2rem;
}
.booking .cont .input {
    font-size: 1.1rem;
    padding: .5rem;
    display: block;
    margin-bottom: 1rem;
    width: 25rem;
    height: 2.4rem;
}
.checks {
    display: flex;
}

.checks label {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
.checks input {
    opacity: 0;
}

.r {
    background-color: green;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
}
.inside {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    background-color: white;
}

.check {
    background-color: rgb(168, 243, 202);
}

@media only screen and (max-width: 800px) {
    .booking {
        display: block;
    }
    .booking .cont .input {
        width: 18rem;
    }
}
@media only screen and (max-width: 500px) {
    .booking {
        padding: 1rem;
    }
    .booking .cont {
        background-image: linear-gradient(100deg, rgba(255, 255, 255, 0.774), rgba(255, 255, 255, 0.062)), url(../img/nat-10.jpg);
    }
    .booking .cont .input {
        width: 15rem;
        margin: 1rem auto;
    }
    .checks {
        flex-direction: column;
    }
}