.testi {
    padding: 3rem;
    text-align: center;
    position: relative;
}
.testi .cont {
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(20rem, 30rem)) 1fr; 
}
.testi .cont .cards {
    grid-column: 2/4;
}
.testi .card {
    box-shadow: 2px 2px 5px rgb(87, 86, 86);
    padding: 3rem;
    transform: skewX(-10deg);
    background-color: rgba(255, 255, 255, 0.705);
    margin-bottom: 2rem;
    cursor: pointer;
}
.testi .card .conte {
    transform: skew(10deg);
    display: flex;
}
.testi .card .img {
    width: 30rem;
    height: 12rem;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.testi .card .img span {
    opacity: 0;
    color: #fff;
    font-size: 1.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,100%);
    transition: all .5s;
}
.testi .card .img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transform: scale(1.4);
    transition: all .5s;
}
.testi .card .text {
    padding: 0 2rem;
}
.testi .card .text h4 {
    font-size: 1.5rem;
}
.testi .card .text p {
    font-size: 1.1rem;
}
.testi .card:hover img {
    transform: scale(1);
    filter: blur(.1rem) brightness(70%);
}
.testi .card:hover span {
    transform: translate(-50%,-50%);
    opacity: 1;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    opacity: .5;
    object-fit: cover;
}
@media only screen and (max-width: 800px) {
    .testi .card {
      transform: skew(0deg);
    }
    .testi .card .conte {
        transform: skew(0deg);
    }
  }
  @media only screen and (max-width: 500px) {
    .testi .cont {
        display: block;
    }
    .testi .card {
        padding: 0;
      transform: skew(0deg);
    }
    .testi .card .conte {
        flex-direction: column;
        align-items: center;
    }
    .testi .card .img {
        width: 10rem;
        height: 12rem;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
    }
  }