.features {
    background-image: linear-gradient(to right bottom, rgba(0, 128, 0, 0.733), rgba(0, 128, 0, 0.678)), url(../img/nat-6.jpg);
    padding: 20rem 0;
    margin-top: -15rem;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(20rem, 30rem)) minmax(2rem, 1fr); 
    justify-content: center;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    position: relative;
    z-index: -1;
}
.cont {
    grid-column: 2/4;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    grid-gap: 1rem;
    text-align: center;
}
.feature {
    background-color: rgba(240, 240, 243, 0.897);
    padding: 2rem 1rem;
    box-shadow: 1px 1px .5rem rgb(85, 84, 84);
    border-radius: .3rem;
    transition: all .3s;
    cursor: pointer;
}
.feature:hover {
    transform: translateY(-1rem) scale(1.02);
}
p {
    color: rgb(113, 114, 114);
}
.feature .icon .fa {
    font-size: 3rem;
    background-image: linear-gradient(to right, rgb(13, 241, 13), rgb(6, 145, 6));
    background-clip: text;
    color: transparent;
}
@media only screen and (max-width: 500px) {
    .features {
        display: block;
        padding: 20rem 1rem;
    }
}