.btn {
    border-radius: 10rem;
    border: none;
    padding: 1rem 3rem;
    font-size: 1.2rem;
    margin-top: 2rem;
    position: relative;
    box-shadow: 2px 2px .5rem rgb(36, 35, 35);
    z-index: 100;
}
.btn::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .3s;
}
.btn:hover::before {
    transform: scale(1.4);
    opacity: 0;
}
.btn-green {
    background-color: green;
}
.btn-green::before {
    background-color: green;
}
.headings {
    text-align: center;
    margin: 3rem 0;
    font-size: 1.6rem;
    background-image: linear-gradient(to right bottom, rgb(87, 250, 87), rgb(2, 102, 2));
    background-clip: text;
    color: transparent;
    transition: all .5s;
}
.headings:hover {
    transform: skewY(3deg) skewX(5deg);
}
.btn-text {
    color: green;
    padding: .5rem;
    border-bottom: 1px solid currentColor;
    text-decoration: none;
}
.btn-text:hover {
    background-color: green;
    color: #fff;
}